:root {
  /* Colour Palette */
  --yellow-300: #FFE299;
  --yellow-400: #ECBF69;
  --yellow-500: #E6A937;
  --yellow-600: #A97D40;
  --yellow-700: #8C5200;

  --grey-300: #f9f9f9f2;
  --grey-400: #CACACA;
  --grey-500: #868686;
  --grey-600: #5D5D5D;
  --grey-700: #272727;

  --white: #ffffff;
  --black: #0D0D0D;
  --red-light: #FFAFA3;
  --red-dark: #990000;
  --green-light: #C7EEBF;
  --green-dark: #196E21;
}

/* Applying default colours to components */

:root {
  --ion-color-primary: var(--yellow-500);    
  --ion-background-color: var(--yellow-300);     
  --ion-text-color: var(--black);          
  --ion-border-color: var(--black);    
  --ion-tab-bar-background: var(--white);  
  --ion-toolbar-background: var(--white);   
  --ion-toolbar-color: var(--black);       
  --ion-item-background: var(--white);      
}