@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
  --ion-font-family: 'Poppins', sans-serif;
}

:root .mini-text {
  font-size: 10px;
  font-weight: 400;
}

:root .caption-regular {
  font-size: 12px;
  font-weight: 400;
}

:root .caption-medium {
  font-size: 12px;
  font-weight: 500;
}

:root .body-medium {
  font-size: 14px;
  font-weight: 500;
}

:root .body-semibold {
  font-size: 14px;
  font-weight: 600;
}

:root .h6-regular {
  font-size: 16px;
  font-weight: 400;
}

:root .h6-semibold {
  font-size: 16px;
  font-weight: 600;
}

:root .h5-medium {
  font-size: 18px;
  font-weight: 500;
}

:root .h5-semibold {
  font-size: 18px;
  font-weight: 600;
}

:root .h4-medium {
  font-size: 20px;
  font-weight: 500;
}

:root .h1-regular {
  font-size: 32px;
  font-weight: 400;
}

:root .h1-semibold {
  font-size: 32px;
  font-weight: 600;
}

